/dts-v1/;
/plugin/;

/ {
	compatible = "brcm,bcm2835";

	fragment@0 {
		target = <&gpio>;
		__overlay__ {
			pwm_pins5: pwm_pins5 {
				/* this part is for RPi5 */
				function = "alt3";
				pins = "gpio18";
				bias-disable;
			};
		};
	};

	fragment@1 {
		target = <&pwm>;
		frag1: __overlay__ {
			pinctrl-names = "default";
			pinctrl-0 = <&pwm_pins5>;
			status = "okay";
		};
	};

	fragment@2 {
		target = <&i2c1>;

		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";

			mcp3422_1: mcp3422@68 {
				compatible = "microchip,mcp3422";
				reg = <0x68>;
				status = "okay";
			};
		};
	};

	fragment@3 {
		target = <&i2c1>;

		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";

			mcp23008_1: mcp23008@20 {
				compatible = "microchip,mcp23008";
				reg = <0x20>;
				gpio-controller;
				status = "okay";
			};
		};
	};
};