ACTION=="add|remove", SUBSYSTEM=="gpio", DEVPATH=="*/i2c-1/1-0020/gpiochip*",  RUN+="/usr/lib/unipi/uhelper RO gpiochip 0 $name"
ACTION=="add|remove", SUBSYSTEM=="gpio", DEVPATH=="*/soc/3f200000.gpio/gpiochip*",  RUN+="/usr/lib/unipi/uhelper DI gpiochip 0 $name"
ACTION=="add|remove", SUBSYSTEM=="gpio", DEVPATH=="*/soc/fe200000.gpio/gpiochip*",  RUN+="/usr/lib/unipi/uhelper DI gpiochip 0 $name"
ACTION=="add|remove", SUBSYSTEM=="gpio", DEVPATH=="*/axi/1000120000.pcie/1f000d0000.gpio/gpiochip*",  RUN+="/usr/lib/unipi/uhelper DI gpiochip 0 $name"
ACTION=="add|remove", SUBSYSTEM=="iio", DEVPATH=="*/i2c-1/1-0068/iio*",  RUN+="/usr/lib/unipi/uhelper '' AI 0 $name"
ACTION=="add|remove", SUBSYSTEM=="pwm", DEVPATH=="*/soc/*.pwm/pwm/pwmchip*",  DEVPATH!="*/107d517a80.pwm/*", RUN+="/bin/sh -ec 'echo 0 > /sys/$${DEVPATH}/export && /usr/lib/unipi/uhelper AO chip 0 $name || exit 0'"
ACTION=="change", SUBSYSTEM=="pwm", DEVPATH=="*/soc/*.pwm/pwm/pwmchip*",  DEVPATH!="*/107d517a80.pwm/*", ENV{EXPORT}=="?*", RUN+="/bin/sh -ec 'ln -sf /sys$${DEVPATH}/$${EXPORT} /run/unipi-plc/by-sys/AO/channel || exit 0'"
ACTION=="add|remove", SUBSYSTEM=="pwm", DEVPATH=="*/axi/1000120000.pcie/1f00098000.pwm/pwm/pwmchip*",  RUN+="/bin/sh -ec 'echo 2 > /sys/$${DEVPATH}/export && /usr/lib/unipi/uhelper AO chip 0 $name || exit 0'"
ACTION=="change", SUBSYSTEM=="pwm", DEVPATH=="*/axi/1000120000.pcie/1f00098000.pwm/pwm/pwmchip*", ENV{EXPORT}=="?*", RUN+="/bin/sh -ec 'ln -sf /sys$${DEVPATH}/$${EXPORT} /run/unipi-plc/by-sys/AO/channel || exit 0'"