Source: unipi-os-configurator-data
Section: unknown
Priority: optional
Maintainer: Miroslav Ondra <ondra@unipi.technology>
Build-Depends: debhelper (>= 13), debhelper-compat (= 13)
Standards-Version: 3.9.8.0
Homepage: www.unipi.technology
#Vcs-Git: https://git.unipi.technology/UniPi/os-configurator/data-unipi1
#Vcs-Browser: https://git.unipi.technology/UniPi/os-configurator/data-unipi1

Package: unipi-os-configurator-data
Architecture: ###ARCH### 
Description: Unipi 1.1 specific data for Unipi OS configurator
Depends: unipi-os-configurator 
